.scale {
  animation: scale 0.5s;
  animation-fill-mode: forwards;
}

.fade {
  animation: fade 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes scale {
  from {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  to {
    scale: 1;
  }
}
