.rotate {
  transform-origin: left top;
  animation: rotate 20s infinite;
}

.slideDown {
  animation: rotateX 3s;
  animation-fill-mode: forwards;
}

.slideUp {
  animation: rotateXrev 3s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

.slideInRight {
  animation: slideInRight .5s;
  animation-fill-mode: forwards;
}

.blur {
  /* display: inline-block; */
  animation: blur 2s;
  animation-fill-mode: forwards;
}

.fade {
  /* display: inline-block; */
  animation: fade 2s;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

/* @keyframes slideDown { */
/*   0% { */
/*     opacity: 0; */
/*     transform: translateY(-75%); */
/*   } */
/*   25% { */
/*     opacity: 1; */
/*     transform: translateY(0%); */
/*   } */
/*   75% { */
/*     opacity: 1; */
/*     transform: translateY(0%); */
/*   } */
/*   100% { */
/*     opacity: 0; */
/*     transform: translateY(75%); */
/*   } */
/* } */

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  25% {
    opacity: .4;
    transform: translateX(75%);
  }
  50% {
    opacity: .6;
    transform: translateX(50%);
  }
  75% {
    opacity: .8;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes blur {
  0% {
    filter: blur(4px);
    opacity: 0.5;
  }
  25% {
    filter: blur(0px);
    opacity: 1;
  }
  75% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(4px);
    opacity: 0.5;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-in;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

@keyframes slideDown {
  0% {
    height: 0;
    opacity: 0;
  }
  25% {
    height: auto;
    opacity: 0.25;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-in;
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

@keyframes rotateX {
  0% {
    height: 0;
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    height: auto;
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes rotateXrev {
  0% {
    height: auto;
    opacity: 1;
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    height: 0;
    opacity: 0;
    transform: rotateX(-90deg);
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1.1 1.2;
  }
  to {
    rotate: 359deg;
  }
}
